:root {
	--background-color: #1e1e2e;
	--darkest-color: #11111b;
	--text-color: #cdd6f4;
	--subtext-color: #a6adc8;
	--accent-color: #89b4fa;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--background-color);
	max-width: 100ch;
	margin: 0 auto;
}

/* Hero Component */
header {
	text-align: left;
	padding-top: 6rem;
	width: 100%;
}

.top {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

header h1 {
	font-family: "Inter Variable", sans-serif;
	color: #cdd6f4;
	font-size: 3rem;
}

header p {
	font-family: "Inter Variable";
	color: var(--subtext-color);
	font-size: 1rem;
	width: 25ch;
	margin-top: 1rem;
	line-height: 1.5rem;
}

header svg {
	width: 2rem;
}

header svg path {
	fill: var(--text-color);
}

header .social-links a {
	margin: 0 0.5rem;
	text-decoration: none;
}

.profile-picture {
	border-radius: 50%;
	width: 8rem;
}

section {
	text-align: center;
}

header h2 {
	font-family: "Inter Variable";
	color: #cdd6f4;
	font-size: 1.25rem;
	margin-top: 0.75rem;
}

.social-links-bottom {
	display: none;
	margin-top: 1rem;
}

.social-links-bottom a {
	margin-right: 0.5rem;
	text-decoration: none;
}

/* Projects */
.projects {
	width: 100%;
	text-align: left;
	margin: 5rem 0;
}

.projects h2 {
	color: var(--text-color);
	font-family: "Inter Variable", sans-serif;
	font-size: 2em;
}

.projects-container {
	width: 100%;
	display: grid;
	text-align: left;
	grid-template-columns: 1fr 1fr;
}

.projects-container div {
	background-color: darkseagreen;
	padding: 1rem;
}

.projects-container h3 {
	color: var(--background-color);
	font-family: "Inter Variable", sans-serif;
}

@media (max-width: 1100px) {
	body {
		width: 80ch;
	}
}

@media (max-width: 800px) {
	body {
		width: 60ch;
	}

	/* Hero Component */
	header {
		padding-top: 4rem;
	}
}

@media (max-width: 600px) {
	body {
		margin: 0 2rem;
	}

	/* Hero Component */
	header {
		padding-top: 1rem;
	}

	.social-links {
		display: none;
	}

	.social-links-bottom {
		display: block;
	}

	.projects-container {
		grid-template-columns: 1fr;
	}
}
