---
import "@fontsource-variable/inter";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/src/styles/global.css" />

		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
		/>

		<meta name="generator" content={Astro.generator} />
		<title>Peter Yuan</title>
	</head>
	<body>
		<slot />
	</body>

</html>

<style></style>
